 
#countdown{

    font-family: "Codystar", sans-serif;
    font-weight: 600;
    font-size: 7em;
    color: #ffd65b;
    text-align: center;
  }
  h1{
    color: #ffd65b;
    padding-top: 100px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 7em;
  }
  BODY{
    height: 80vh;
  text-align: center;
  align-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.76)), url('./deviry.JPG');

  background-size: cover, cover;
  color: white;
  text-shadow: 0px 0px 6px black;
  padding-inline: 30px;
  }
  
